RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/web/uploads
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
